<mat-nav-list class="mat-nav-list">
  <mat-list-item routerLink="/signin">
    <mat-icon>input</mat-icon>
    <span>Signin</span>
  </mat-list-item>
  <mat-list-item routerLink="/signup">
    <mat-icon>account_circle</mat-icon>
    <span>Signup</span>
  </mat-list-item>
  <mat-list-item routerLink="/accomodation">
    <mat-icon>hotel</mat-icon>
    <span>Accomodation</span>
  </mat-list-item>
  <mat-list-item routerLink="/offers">
    <mat-icon>loyalty</mat-icon>
    <span>Offers</span>
  </mat-list-item>
</mat-nav-list>
